/*Imported Fonts
font-family: 'Courgette', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;

Color Theme:  green_dark: #185F02;
Color Theme:  green_medium: #357804;
Color Theme:  gold: #A68312;
Color Theme:  brown: #795112;
Color Theme:  Alt Brown:#CAB994;

Color Theme:  white: #F2F6F2;
Color Theme:  black: #081F01;

Alternate Green: #124501
Alternate Green: #0A5225
Alternate Green: #183812

color: #081F01;

*/
@import url('https://fonts.googleapis.com/css?family=Courgette|Montserrat|Open+Sans');

body, html {
height: 100%;
height: 100%;
font-family: 'Montserrat', 'Open Sans', sans-serif;
}


.format-font-italic {
  font-family: 'Courgette', cursive; 
}

.bg-dark, .card-header {
  background-color: #081F01!important;
}

.navbar-dark .navbar-nav .nav-link:focus, .nav-active, .navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(242,246,242,1)!important;
}

.btn-group-sm>.btn, .btn-sm {
  background-color:#ECECEC; 
  border-radius: .5rem;
}

[type=search] {
  border-radius: .5rem;
}

button, input, optgroup, select, textarea {
  border-radius: .5rem;
}

.dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  border-radius: .5rem;
}

.card-header {
  color:#F2F6F2;
}

.table .thead-dark th {
  color:#F2F6F2;
  font-weight: 400;
  background-color: #081F01!important;
  border-style: solid;
  border-color:  #081F01!important;
  border-top-color: #0B2C01!important;
  border-width: 1px;
}

.table-bordered {
  border: 1px solid #0B2C01!important
}

th {
  color:#F2F6F2;
  font-weight: normal;
}

caption {
  caption-side: top;
  text-align: center;
  color:#F2F6F2;
  background-color: #081F01!important;
  border-style: solid;
  border-color:#185F02!important;
  border-width: 1px;
  font-size: 1.25rem!important;
  font-weight: 400!important;
}

table.dataTable tbody td {
  padding-top: 0.5 !important;
  padding-bottom: 0.5 !important;
  vertical-align: middle;
}

p.positive {
  color: green;
  display: table-cell;
  padding-top: 0.5 !important;
  padding-bottom: 0.5 !important;
  vertical-align: middle;
}
p.negative {
  color:  red;
  display: table-cell;
  padding-top: 0.5 !important;
  padding-bottom: 0.5 !important;
  vertical-align: middle;
}
p.neutral {
  color: black;
  display: table-cell;
  padding-top: 0.5 !important;
  padding-bottom: 0.5 !important;
  vertical-align: middle;
}